html, body {
    width: 100%;
    height: 100%;
	margin-left:15px;
	margin-right:15px;
    padding: 0;
	width:1400px;
}

h1 {
    color: navy;
    margin-left: 20px;
}

h2 {
    color: navy;
    margin-left: 40px;
}

h3 {
    color: navy;
    margin-left: 60px;
}

p{
	text-align:justify;
	text-indent:20px;
}

ul{
	text-align:justify;
}